click==8.0.4
celery[redis]
fastapi
uvicorn[standard]
websockets
asyncio
slowapi
jsons
pyvis
nltk
fitz
spacy
lxml
mysql
mysql-connector-python
PyMuPDF
pymongo


pika==1.2.0
aio-pika==6.8.0
aiormq==3.3.1
amqp==5.0.9
aioredis