div {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 20px 15px;
    color: #334;
}

span {
    font-size: 13px;
    font-weight: 500;
    margin-left: 15px;
}

.info {
    background-color: #00000010;
}

.warning {
    background-color: #f8a10070;
}

.error {
    background-color: #ff000070;
}